@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Medium.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-SemiBold.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Light.ttf);
}
